<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/util    http://www.springframework.org/schema/util/spring-util.xsd
			http://www.springframework.org/schema/jdbc    http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
			http://www.springframework.org/schema/tx      http://www.springframework.org/schema/tx/spring-tx.xsd" >
		
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"	 	value="com.mysql.jdbc.Driver" />
		<property name="url" 					value="jdbc:mysql://localhost:3306/documentaires" />
		<property name="username" 				value="docu" />
		<property name="password" 				value="docu" />
	</bean>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
 	 	<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- enable the configuration of transactional behavior based on annotations -->
 	<tx:annotation-driven transaction-manager="transactionManager"/>
 	
 	<bean id="docu.dao.db" class="fr.clunven.docu.dao.DocuDbDao">
 		<property name="dataSource" ref="dataSource" />
 	</bean>
 	
 	<bean id="docu.service" class="fr.clunven.docu.service.DocuServices">
 		<property name="docudb" ref="docu.dao.db" />
 	</bean>

		
</beans>

