<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	

	<!-- Scanner for Controller -->
	<context:annotation-config />
	
	<context:component-scan base-package="fr.clunven.docu" />
	
	<!-- Constants externalization -->
	<context:property-placeholder location="classpath*:docu-conf.properties"/>
	
    <!-- Resource Bundle -->    
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename"                   value="application-resources"/>
        <property name="useCodeAsDefaultMessage"    value="true"/>
        <property name="defaultEncoding"            value="UTF-8" />
        <property name="fallbackToSystemLocale"     value="true" />
    </bean>
    
    <bean id="validatorFactory" class="org.springmodules.validation.commons.DefaultValidatorFactory">
        <property name="validationConfigLocations">
            <list>
                <value>/WEB-INF/validation.xml</value>
                <value>/WEB-INF/validator-rules.xml</value>
                <value>/WEB-INF/validator-rules-custom.xml</value>
            </list>
        </property>
    </bean>

    <bean id="beanValidator" class="org.springmodules.validation.commons.DefaultBeanValidator">
        <property name="validatorFactory" ref="validatorFactory"/>
    </bean>
    
    
</beans>